* {
  box-sizing: border-box;
}

:root {
  --dark-color: rgb(44, 44, 55);
  --light-color: #f0ddff;
  --thumb-color: #a194ab;
}

.App {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Consolas, monaco, monospace;
  color: var(--dark-color);

  background-color: #eb99ff42;
  background-image: radial-gradient(
      at 40% 2%,
      hsla(247, 82%, 66%, 0.6) 0px,
      transparent 50%
    ),
    radial-gradient(at 9% 88%, hsla(205, 83%, 71%, 0.6) 0px, transparent 50%),
    radial-gradient(at 16% 3%, hsla(44, 88%, 74%, 0.6) 0px, transparent 50%),
    radial-gradient(at 23% 91%, hsla(45, 81%, 71%, 0.6) 0px, transparent 50%),
    radial-gradient(at 18% 58%, hsla(92, 88%, 73%, 0.6) 0px, transparent 50%),
    radial-gradient(at 5% 81%, hsla(308, 93%, 77%, 0.6) 0px, transparent 50%),
    radial-gradient(at 50% 30%, hsla(156, 66%, 72%, 0.6) 0px, transparent 50%);
}
